* {
	margin: 0;
	padding: 0;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	/* To make sure users don't copy text from the quiz */
/* *****ADD THESE 3 LINES LATER***** */
    /* -ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;  */
}

/*html {
	background-color: #e6e6e6;
}*/

#quiz {
	/*background-color: #001a33;*/
	position: relative;
	width: 1920px;  /*  ***1080px***  for 4:3 */ ;
	height: 1080px;
	margin: 0 auto;
	border-radius: 0px; /*   ****BORDER RADIUS IS HERE****   */
	box-shadow: 5px 7px 5px 5px rgba(0,26,51,0.5);
	padding: 2px 50px 50px 50px;
	text-align: center;
}

#tracker {
	position: relative;
	margin: 20px 10px 10px 10px; 
	padding: 0 10px 0 10px;
}

.nos {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: #8c8c8c;
	border-radius: 50%;
	text-align: center;
	color: white;
	padding: 11px;
	margin: 0px 10px 10px 10px;
	font-weight: bolder;
	font-size: 22px;
	border: 1.5px solid white;
}

hr {
	border: 2px solid #8c8c8c;
	position: relative; 
	clear: both;
}

#question {
	position: relative; 
	color: white;
    font-size: 50px; 
	font-weight: normal;
	margin-left: 10px;
	opacity: 0;
    
}


.options {
	position: relative; 
	width: 550px; 
	margin-top: 15px; 
}

.button {
	position: relative; 
	background-color: #e6f3ff;
	width: 250px;
	height: auto;
	border: 1.5px solid #339cff;
	border-radius: 75px; 
	margin: 10px;
}

.button span {
	text-align: center; 
	font-size: 20px; 
	padding: 10px;
	font-weight: bold; 
	color: #001a33;
}

.button:hover {
	background-color: #99ceff;
	cursor: pointer;
}

#submit {
	position: relative; 
	float: right;
	background-color: #595959;
	color: white;
	width: 230px;
	padding: 7px;
	border-radius: 50px;
	font-size: 28px;
	font-weight: 900;
	font-family: serif;
	margin: 5px 0px 25px 10px;
	border: 1px solid grey; 
	text-align: center;
	box-shadow: 2px 2px 0px 0px rgba(191,191,191,0.5);
}

#submit:hover {
	cursor: pointer;
	background-color: #808080;
}

footer {
	position: absolute;
	bottom: 30px;
	width: 1820px;
}

#progress {
	position: relative;
	float: left;
	text-align: right;
	margin-top: 20px;
	font-size: 30px;
	color: white;
}

#timer {
	position: relative;
	float: right;
	text-align: right;
	margin-top: 20px;
	font-size: 30px;
	color: white;
}

#resultBox {
	display: none;
}

#quizSet {
	
}

#result {
	text-align: center;
	font-size: 40px;
	color: white;
}

#retake {
	position: relative;
	display: block;
	margin: 10px auto 25px auto;
	background-color: #595959;
	color: white;
	width: 230px;
	padding: 7px;
	border-radius: 50px;
	font-size: 28px;
	font-weight: 900;
	font-family: serif;
	border: 1px solid grey;
	text-align: center;
	box-shadow: 2px 2px 0px 0px rgba(191,191,191,0.5);
}

#retake:hover {
	cursor: pointer;
	background-color: #808080;
}

.button:focus, #submit:focus, #retake:focus {
	outline: none;
}

.answer_container, .hint_container{
	width: 100%;
	position: absolute;
	top: 450px;
	left: 0;
	text-align: center;
	color: white;
	font-weight: bold;
}
.hint_container{
	top: 350px;
}
.answer, #hint{
	display: none;
}




.context {
    width: 100%;
    position: absolute;
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 150%;
    height:180vh;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}