/* CSS files add styling rules to your content */

body {
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
}

h1 {
    font-style: italic;
    color: #373fff;
}

#code {
    width: 100%;
    min-height: 10em;
}

#editor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    align-content: center;
}